*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-image: url(wood.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 800;
}
#grid {
    display: grid;
    max-width: 20rem;
    min-height: 35rem;
    border: 2px solid black;   
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
    margin-top: 2rem;
}
header {
    display: flex;
    justify-self: center;
    justify-content:space-between;
    width: 20rem;
    padding: 1rem;
    height:min-content;
}
#brand{
    font-size: x-large;
}
#pannel {
    display: flex;
    flex-flow: row wrap;
    padding-inline: 1rem;
}
.paneles {
    width:2rem;
    height:2rem;
    border: 1px black solid;
    background-color: slategrey;
}
#keys {
    padding-top: 2rem;
    justify-self: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 15rem;
    gap:.5rem;
    /* border: 1px solid black; */
}
#display {
    border: 2px black solid;
    width: 15rem;
    grid-row: span 1;
    justify-self:center;
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 1rem;
    max-height: 6rem;
}

.keys {
    display: flex;
    justify-content: center;
    border: 2px black solid;
    grid-column: span 1;
    grid-row: span 1;
    padding: 0.5rem;
    border-radius: 15px;
    font-weight: 800;
    font-size: large;
    box-shadow: 5px 5px 20px black
   ;
}
.keys:hover {
    background-color: lightslategrey;
}
#backspace {
    grid-column: span 3;
    background-color: darkgoldenrod;
}
#clear{
    grid-column: span 1;
    background-color: indigo;
    color:lavender;
}